@media all and (min-width:600px) {
    body{
        background: blue;
        color: white;
    }
}
@media all and (max-width:600px) {
    body{
        background: purple;
        color: rgb(95, 46, 46);
    }
    img{
        width: 100px;
        height: 100px;
    }
}
h1{
    border: 2px solid white;
    padding: 20px;
}
@media all and (orientation:portrait){
    h1{
        font-size: 80px;
    }
}
@media all and (orientation:landscape){
    h1{
        font-size: 30px;
    }
}
@media all and (min-width:600px) and (max-width:900px) {
    img{
        display: none;
    }
}